/* color scheme */
:root {
  --space-cadet: #232741;
  --muted-gold: #FFBA49;
  --light-shade: #FFBBA3;
  --mid-shade: #8999FF;
}

/* global styles */
html, body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: var(--space-cadet);
  padding-top: 40px;
  color: black;
}

h1, h2 {
  font-family: "Abril Fatface", cursive;
  font-weight: normal;
}

h2 {
  font-size: 3rem;
  margin-bottom: 0;
}

nav a, #landing a {
  color: white;
}

.navbar-brand, a:hover  {
  color: var(--muted-gold);
}

/* navigation bar */
nav {
  background-color: var(--space-cadet);
  font-size: 1.2em;
}

.navbar .navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger5.svg?color=FFBA49');
}

/* particles */
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

/* landing section */
#landing {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-y: hidden;
}

#landing .container {
  margin-top: 25vh;
  text-align: center;
}

#landing h1 {
  font-size: 5em;
  color: var(--muted-gold);
  margin-bottom: 0;
}

.connect {
  display: block;
  position: relative;
  color: white;
  font-size: 1.5em;
}

/* container */
.container {
  /* background-color: #D2D7DF; */
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
}

/* some space to jump to */
.anchor {
  display: block;
  height: 25vh;
  margin-top: -25vh;
  visibility: hidden;
}

/* rest of the sections */
#about-me, #projects, #influences {
  position: relative;
  padding: 3rem 3rem;
  font-size: 1.2rem;
  height: 100%;
}

/* h2 effect */
.underline-effect {
  background-image: linear-gradient(120deg, var(--light-shade) 0%, var(--mid-shade) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

.underline-effect:hover {
  background-size: 100% 88%;
}

/* about me section */
#about-me {
  background-color: white;
  
}

/* projects section */
#projects {
  background-color: white;
}

#projects a {
  color: var(--space-cadet);
  font-weight: bold;
  text-decoration: underline;
}

/* influences section */
#influences {
  background-color: white;
}

#influences ul {
  list-style: none;
  padding-left: 0;
}

/* let's connect section */
#lets-connect {
  padding: 3rem 0;
}

.btn-toolbar {
  display: flex;
  position: relative;
  justify-content: center;
}

.btn-primary {
  font-size: 2.5em;
  background-color: var(--space-cadet);
  border-color: var(--space-cadet);
  color: var(--light-shade);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: white;
  background-color: var(--space-cadet);
  border-color: var(--space-cadet);
}

/* responsive to size */
@media screen and (max-width: 580px) {
  #landing h1 {
    font-size: 3em;
  }

  .connect {
    font-size: 1.5em;
  }

  #about-me, #projects, #influences {
    padding: 2rem 1rem;
  }

  h2 {
    font-size: 2.75rem;
  }

  .btn-primary {
    font-size: 2em;
  }
}

@media screen and (max-width: 375px) {
  #landing h1 {
    font-size: 2.75em;
  }

  .connect {
    font-size: 1.35em;
  }

  h2 {
    font-size: 2.5rem;
  }
  
  .btn-primary {
    font-size: 2em;
  }
}

@media screen and (max-width: 320px) {
  #landing h1 {
    font-size: 2.25em;
  }

  h2 {
    font-size: 2rem;
  }

  #about-me, #projects, #influences {
    padding: 2rem 0.5rem;
    font-size: 1rem;
  }

  .btn-primary {
    font-size: 1.3em;
  }
}