/* color scheme */
:root {
  --space-cadet: #232741;
  --muted-gold: #FFBA49;
}

/* global styles */
html, body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: var(--space-cadet);
  padding-top: 40px;
  color: black;
}

h1, h2 {
  font-family: "Abril Fatface", cursive;
  font-weight: normal;
}

h1 {
  font-size: 5em;
  color: var(--muted-gold);
}

/* navbar*/
nav {
  background-color: var(--space-cadet);
}

.navbar .navbar-toggler-icon {
	background-image: url('https://mdbootstrap.com/img/svg/hamburger5.svg?color=6a7fdb');
}

/* navbar & first module links */
a {
  color: white;
}

.navbar-brand, a:hover {
  color: var(--muted-gold);
}


/* particles */
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

/* all sections */
section {
  max-width: 75%;
  margin: 100vh auto;
  margin-top: 25vh;
}

.anchor{
  display: block;
  height: 25vh;
  margin-top: -25vh;
  visibility: hidden;
}

/* container */
.container {
  background-color: #D2D7DF;
}

.container a {
  color: #034078;
  text-decoration: underline;
}

.container a:hover {
  text-decoration: none;
}

#landing, #lets-connect, .container {
  padding: 3rem 3rem;
  text-align: center;
  display: block;
  position: relative;
  font-size: 1em;
}

/* landing section */
.connect {
  display: block;
  position: relative;
  color: white;
  font-size: 1.5em;
}

/* projects section */


/* influences section */
.my-fav-list {
  text-align: left;
  margin-left: 15%;
}

/* let's connect section */
.btn-toolbar {
  display: block;
  position: relative;
  justify-content: center;
}

.btn-primary {
  font-size: 1.5em;
  background-color: var(--space-cadet);
  border-color: var(--space-cadet);
  color: var(--muted-gold);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: white;
  background-color: var(--space-cadet);
  border-color: var(--space-cadet);
}
