/* color scheme */
:root {
    --light-boy-blue: #6A7FDB;
    --sage: #B6D094;
	--smoky-black: #110B11;
	--bedez-blue: #274690;
	--magic-potion: #FF4365;
}

/* global styles */
body {
	font-family: 'Lato Regular', sans-serif;
	color: var(--smoky-black);
}

.container {
	position: relative;
	margin-top: 10%
}

h1, h3, .name {
	font-family: 'Abril Fatface Regular', cursive;
	font-weight: normal;
}

h1, .name {
	font-size: 60px;
}

/* navbar & links */
.connect a, .navbar-light .navbar-nav .nav-link {
	color: var(--light-boy-blue);
	font-weight: bold;
	font-size: 30px;
}

.connect a:hover, .navbar-light .navbar-nav .nav-link:hover { 
	color: var(--sage);
	text-decoration: none;
}

.active, u {
	text-decoration: underline var(--magic-potion);
}

.navbar .navbar-toggler-icon {
	background-image: url('https://mdbootstrap.com/img/svg/hamburger5.svg?color=6a7fdb');
}

/* footer & sm links */
footer {
	margin-top: -10%;
}

.btn-toolbar {
	justify-content: center;
	display: flex;
}

.btn-primary {
	font-size: 30px;
	background-color: #fff;
    border-color: #fff;
	margin-right: -1%
}

.btn-primary {
	font-size: 30px;
	color: var(--bedez-blue);
    background-color: #fff;
    border-color: #fff;
    margin-right: -1%
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: var(--light-boy-blue);
    background-color: #fff;
    border-color: #fff;
}

/* home page */
.name {
	color: var(--magic-potion);
}

.connect {
	font-size: 25px;
}

.col-8 {
	background: lightgrey;
}

.col-4 {
	background: lightyellow;
}

/* about page */
.descrip {
	font-size: 25px;
}

.emphasis {
	color: var(--bedez-blue);
	font-weight: bold;
	background: var(--sage);
}

.font-italic {
	color: var(--magic-potion);
	font-weight: bold;
}

/* blog page */
.col-12 {
	background-color: lightyellow;
}

.col-6 {
	background-color: lightgrey;
}