:root {
  --base-unit: 24px;
  --border-color: black;
  --win-color: #ffe0f1;
  --body-color: white;
  --gradient-1: #d9e0fc;
  --gradient-2: #bfffe6;
}

/* global element styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Code Pro', monospace;
  font-size: 80%;
  width: 100%;
  height: 100%;
  position: fixed;
}

a:link, 
a:visited {
  color: black;
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* main navigation style */
nav {
  background: var(--win-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--base-unit);
  border-bottom: 1px solid var(--border-color);
  padding: 0 calc(var(--base-unit) / 2);
}

nav > ul {
  /* background: lightyellow; */
  list-style: none;
}

nav > ul li {
  /* background: lightpink; */
  display: inline;
  margin-right: calc(var(--base-unit) / 2);
}

.contact li:last-of-type {
  margin-right: 0;
}

/* desktop styles */
.desktop {
  background-image: linear-gradient(19deg, var(--gradient-1) , var(--gradient-2));
  height: 100vh;
}

/* icon styles */
.icons {
  position: absolute;
  top: calc(var(--base-unit) * 2);
  left: var(--base-unit);
}

.icons ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.icons li {
  width: calc(var(--base-unit) * 4);
  margin: 0 var(--base-unit) var(--base-unit) 0;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.icon__title {
  background: var(--body-color);
  margin-top: calc(var(--base-unit) / 2);
  text-align: center
}

/* window styles */
.window {
  display: none;
  flex-direction: column;
  background: var(--win-color);
  position: absolute;
  border: 1px solid var(--border-color);
}

.window_folder {
  top: calc(var(--base-unit) * 12);
  right: calc(var(--base-unit) * 2);
  width: calc(var(--base-unit) * 16);
  height: calc(var(--base-unit) * 12);
}

.window_file {
  bottom: calc(var(--base-unit) * 2);
  left: calc(var(--base-unit) * 2);
  width: calc(var(--base-unit) * 12);
  height: calc(var(--base-unit) * 15);
}

.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 calc(var(--base-unit) / 4);
  width: 100%;
  cursor: move;
  touch-action: none;
}

.title-bar__icon {
  border: 1px solid var(--border-color);
  width: calc(var(--base-unit) / 2);
  height: calc(var(--base-unit) / 2);
}

.window__content {
  background: var(--body-color);
  margin: 0 calc(var(--base-unit) / 4) calc(var(--base-unit) / 4);
  padding: calc(var(--base-unit) / 4);
  outline: 1px solid var(--border-color);
  height: 100%;
  overflow-y: auto;
}

.window__content::-webkit-scrollbar {
  width: calc(var(--base-unit) / 2);
}

.window__content::-webkit-scrollbar-track {
  background-color: var(--win-color);
  border-left: 1px solid var(--border-color);
}

.window__content::-webkit-scrollbar-thumb {
  background-color: var(--win-color);
  border-radius: 0;
  border-top: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.window .icons {
  position: static;
}

.window .icon__title {
  background-color: var(--gradient-1);
}

.window__content article h1 {
  margin-bottom: calc(var(--base-unit) / 2);
}

.window__content article ul {
  margin: calc(var(--base-unit) / 2) var(--base-unit);
}

.window__content article ul li {
  margin-bottom: calc(var(--base-unit) / 2);
}

.window__content article a {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.active {
  display: flex;
}

@media all and (min-width: 25em) {
  body {
    font-size: 100%;
  }
}