:root {
  --base-unit: 24px;
  --border-color: black;
  --body-color: #d9e0fc;
  --bar-color: #ffe0f1;
  --gradient-1: #d9e0fc;
  --gradient-2: #bfffe6;
}

/* global element styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Code Pro', monospace;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* main navigation style */
nav {
  background: var(--bar-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--base-unit);
  border-bottom: 1px solid var(--border-color);
  padding: 0 calc(var(--base-unit) / 2);
}

nav > ul {
  /* background: lightyellow; */
  list-style: none;
}

nav > ul li {
  /* background: lightpink; */
  display: inline;
  margin-right: calc(var(--base-unit) / 2);
}

.contact li:last-of-type {
  margin-right: 0;
}

/* desktop styles */
.desktop {
  background-image: linear-gradient(19deg, var(--gradient-1) , var(--gradient-2));
  height: 100vh;
}

/* icon styles */
.icons {
  background: lemonchiffon;
  position: absolute;
  top: calc(var(--base-unit) * 2);
  left: var(--base-unit);
}

.icons ul {
  list-style: none;
  display: flex;
  align-content: center;
}

.icons li {
  width: calc(var(--base-unit) * 4);
  border: 1px solid red;
  margin: 0 var(--base-unit) var(--base-unit) 0;
}

.icon {
  background: honeydew;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.icon__title {
  background: lightskyblue;
  margin-top: calc(var(--base-unit) / 2);
}

/* window styles */
.window {
  display: none;
  flex-direction: column;
  background: var(--body-color);
  position: absolute;
  border: 1px solid var(--border-color);
}

.window_folder {
  top: calc(var(--base-unit) * 12);
  right: calc(var(--base-unit) * 2);
  width: calc(var(--base-unit) * 16);
  height: calc(var(--base-unit) * 12);
}

.window_file {
  bottom: calc(var(--base-unit) * 2);
  left: calc(var(--base-unit) * 2);
  width: calc(var(--base-unit) * 12);
  height: calc(var(--base-unit) * 15);
}

.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bar-color);
  padding: 0 calc(var(--base-unit) / 4);
  width: 100%;
}

.title-bar__icon {
  border: 1px solid var(--border-color);
  width: calc(var(--base-unit) / 2);
  height: calc(var(--base-unit) / 2);
}

.window__content {
  background: lightgreen;
  margin: 0 calc(var(--base-unit) / 4) calc(var(--base-unit) / 4);
  border: 1px solid var(--border-color);
  height: 100%;
  overflow: scroll;
}

.window .icons {
  position: static;
}

.window article {
  padding: calc(var(--base-unit) / 4);
}

.window article h1 {
  margin-bottom: calc(var(--base-unit) / 2);
}

.hidden {
  display: none;
}

.active {
  display: flex;
}